/* Reset rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* aggiunta sfondo */

body {
    background-color: #f6f8f9;
    font-family: sans-serif;
}

/* nav */

nav {
    background-color: white;
    padding: 20px 15px;
    margin-bottom: 30px;
}

#brand-name {
    display: inline-block;
    font-size: 2.5em;
}

/* fine nav */

main {
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 15px 50px 10px;
    border-radius: 5px;
}

.style-button {
    padding: 7px;
    background-color: white;
    border-radius: 5px;
}


.button1 {
    background-color: #47adf1;
    color: white;
    border: 1px solid #66b7f3;
}

.button2 {
    border: 1px solid grey;
    color: grey;
    padding: 7px 10px;
}